		<!-- Sidebar -->
		<div class="sidebar sidebar-style-2" data-background-color="dark2">			
			<div class="sidebar-wrapper scrollbar scrollbar-inner">
				<div class="sidebar-content">

				{% if current_user.is_authenticated %}	
					<div class="user">
						<div class="avatar-sm float-left mr-2">
							<img src="/static/assets/img/profile.jpg" alt="..." class="avatar-img rounded-circle">
						</div>
						<div class="info">
							<a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
								<span>
									{{ current_user.username }}
									<span class="user-level">
										{{ current_user.email }}
									</span>
									<span class="caret"></span>
								</span>
							</a>
							<div class="clearfix"></div>

							<div class="collapse in" id="collapseExample">
								<ul class="nav">
									<li>
										<a href="#profile">
											<span class="link-collapse">My Profile</span>
										</a>
									</li>
									<li>
										<a href="{{ url_for('authentication_blueprint.logout') }}">
											<span class="link-collapse">Logout</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<ul class="nav nav-primary">
						<li class="nav-item {% if 'index' in segment %} active {% endif %}">
							<a data-toggle="collapse" href="#dashboard" class="collapsed" aria-expanded="false">
								<i class="fas fa-home"></i>
								<p>Dashboard</p>
								<span class="caret"></span>
							</a>
							<div class="collapse {% if 'index' in segment %} show {% endif %}" id="dashboard">
								<ul class="nav nav-collapse">
									<li>
										<a href="/index.html">
											<span class="sub-item">Dashboard</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="nav-section">
							<span class="sidebar-mini-icon">
								<i class="fa fa-ellipsis-h"></i>
							</span>
							<h4 class="text-section">Components</h4>
						</li>

						<li class="nav-item {% if 'tasks-' in segment %} active {% endif %}">
							<a data-toggle="collapse" href="#tasks">
								<i class="fas fa-layer-group"></i>
								<p>Tasks</p>
								<span class="caret"></span>
							</a>
							<div class="collapse {% if 'task-' in segment %} show {% endif %}" id="tasks">
								<ul class="nav nav-collapse">
									<li class="{% if 'tasks-solubility' in segment %} active {% endif %}">
										<a href="/tasks-solubility.html">
											<span class="sub-item">Solubility</span>
										</a>
									</li>
									<li class="{% if 'tasks-hansen' in segment %} active {% endif %}">
										<a href="/tasks-hansen.html">
											<span class="sub-item">Hansen Solubility Parameter</span>
										</a>
									</li>
									<li class="{% if 'tasks-particle' in segment %} active {% endif %}">
										<a href="/tasks-particle.html">
											<span class="sub-item">Particle Size</span>
										</a>
									</li>
								</ul>
							</div>
						</li>

						<li class="nav-item {% if 'history-' in segment %} active {% endif %}">
							<a data-toggle="collapse" href="#history">
								<i class="fas fa-th-list"></i>
								<p>History</p>
								<span class="caret"></span>
							</a>
							<div class="collapse {% if 'history-' in segment %} show {% endif %}" id="history">
								<ul class="nav nav-collapse">
									<li class="{% if 'history-solubility' in segment %} active {% endif %}">
										<a href="/history-solubility.html">
											<span class="sub-item">Solubility history</span>
										</a>
									</li>
									<li class="{% if 'history-hansen' in segment %} active {% endif %}">
										<a href="/history-hansen.html">
											<span class="sub-item">Hansen Solubility Parameter history</span>
										</a>
									</li>
									<li class="{% if 'history-particle' in segment %} active {% endif %}">
										<a href="/history-particle.html">
											<span class="sub-item">Particle Size history</span>
										</a>
									</li>
								</ul>
							</div>
						</li>

						<li class="nav-item {% if 'test-' in segment %} active {% endif %}">
							<a data-toggle="collapse" href="#test">
								<i class="fas fa-cloud"></i>
								<p>Test</p>
								<span class="caret"></span>
							</a>

							<div class="collapse {% if 'test-' in segment %} show {% endif %}" id="test">
								<ul class="nav nav-collapse">
									<li class="{% if 'test-figure' in segment %} active {% endif %}">
										<a href="/test-figure.html">
											<span class="sub-item">Figure Test</span>
										</a>
									</li>
									<li class="{% if 'test-group' in segment %} active {% endif %}">
										<a href="/test-group.html">
											<span class="sub-item">Group test</span>
										</a>
									</li>
								</ul>
							</div>

						</li>

					</ul>
				{% else %}
				{% endif %}	
				</div>
			</div>
		</div>
        <!-- End Sidebar -->
        