{% extends "layouts/base.html" %}

{% block title %}Particle Size History{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<style>
    table {
        width: 100%;
        border-collapse: collapse; /* 移除双边框 */
        margin: 20px 0; /* 添加一些外边距 */
    }

    th, td {
        padding: 8px; /* 添加内填充 */
        text-align: left; /* 文本对齐 */
        border-bottom: 1px solid #ddd; /* 底部边框线 */
    }

    th {
        background-color: #f2f2f2; /* 标题背景色 */
        color: #333; /* 标题文字颜色 */
    }

    tr:hover {
        background-color: #f5f5f5; /* 悬停时行的背景色 */
    }

    #gallery {
        width: 600px;
        height: 400px;
        margin: auto;
        position: relative;
        background-color: #f0f0f0;
    }
    img {
        width: 100%;
        height: 100%;
        display: block;
    }
    .button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: #ddd;
        border: none;
        cursor: pointer;
        padding: 10px;
        font-size: 16px;
    }
        #prevButton {
        left: 10px;
    }
        #nextButton {
        right: 10px;
    }
</style>

{% endblock stylesheets %}

{% block content %}

    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Particle Size Experiment Hisotry</h4>
            </div>

            <div class="row">
                <div class="col-md-12">

                    <div class="card">

                        <div class="card-header">
                            <div class="card-title">History</div>
                        </div>

                        <div class="card-body">
                            <div id="infoContainer">
                                <table id="infoTable" border="1">
                                    <tr>
                                        <th>id</th>
                                        <th>time</th>
                                        <th>sample_num</th>
                                        <th>ongoing</th>
                                        <th>comments</th>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">View Experiment Images</div>
                        </div>

                        <div class="card-body">
                            <select id="groupSelect" onchange="loadGalleryImage()" style="width: 400px; height: 40px;">
                                <option value="">Select Particle experiment history</option>
                            </select>
                        </div>
                    </div>

                    <div id="gallery" style="display: none">
                      <button class="button" id="prevButton">←</button>
                      <div id="imageName" style="text-align: center; margin-top: 5px;"></div>
                      <img id="galleryImage" src="" alt="Gallery image">
                      <button class="button" id="nextButton">→</button>
                    </div>

                </div>
            </div>

        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/3.0.0/fetch.min.js"></script>

            <script>
                var currentIndex = 0;
                var image_list = [];

                document.addEventListener('DOMContentLoaded', function() {
                    fetch('/particle_image_id')
                        .then(response => response.json())
                        .then(groups => {
                            const select = document.getElementById('groupSelect');
                            groups.forEach(group => {
                                const option = document.createElement('option');
                                option.value = group;
                                option.textContent = group;
                                select.appendChild(option);
                            });
                        });
                });

                function loadHistoryData(){

                    fetch('/particle_history') // 确保这个URL与你的Flask路由匹配
                        .then(response => response.json())
                        .then(data => {
                            const table = document.getElementById('infoTable');
                            data.forEach(particle_data => {
                                const row = table.insertRow();
                                const id = row.insertCell(0);
                                const time = row.insertCell(1);
                                const sample_number = row.insertCell(2);
                                const ongoing = row.insertCell(3);
                                const comments = row.insertCell(4);

                                id.innerHTML = particle_data.id;
                                time.innerHTML = particle_data.time;
                                sample_number.innerHTML = particle_data.sample_number;
                                ongoing.innerHTML = particle_data.ongoing;
                                comments.innerHTML = particle_data.comments;
                            });
                        })
                        .catch(error => console.error('Error:', error));
                }

                window.onload = loadHistoryData();

                function loadGalleryImage(){
                    const group = document.getElementById('groupSelect').value;
                    const gallery = document.getElementById('gallery');
                    gallery.style.display = "none";
                    image_list = [];

                    if (group) {
                        fetch(`/particle_images/${group}`)
                            .then(response => response.json())
                            .then(images => {
                                gallery.style.display = "block";

                                images.forEach(image => {
                                    const img = new Image();
                                    img.src = 'data:image/png;base64,' + image.image;
                                    img.name = image.prediction;
                                    image_list.push(img);
                                    console.log(image_list);

                                    var imageElement = document.getElementById('galleryImage');
                                    var imageNameElement = document.getElementById('imageName');
                                    imageElement.src = image_list[currentIndex].src;
                                    imageNameElement.textContent = 'Prediction result: ' + image_list[currentIndex].name;
                                });
                            });
                    }
                }

                document.getElementById('prevButton').addEventListener('click', function() {
                    currentIndex = (currentIndex - 1 + image_list.length) % image_list.length;
                    var imageElement = document.getElementById('galleryImage');
                    var imageNameElement = document.getElementById('imageName');
                    imageElement.src = image_list[currentIndex].src;
                    imageNameElement.textContent = 'Prediction result: ' + image_list[currentIndex].name;
                });

                document.getElementById('nextButton').addEventListener('click', function() {
                    currentIndex = (currentIndex + 1) % image_list.length;
                    var imageElement = document.getElementById('galleryImage');
                    var imageNameElement = document.getElementById('imageName');
                    imageElement.src = image_list[currentIndex].src;
                    imageNameElement.textContent = 'Prediction result: ' + image_list[currentIndex].name;
                });
            </script>

{% endblock javascripts %}
