{% extends "layouts/base.html" %}

{% block title %}Hansen Solubility Parameter History{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<style>
    table {
        width: 100%;
        border-collapse: collapse; /* 移除双边框 */
        margin: 20px 0; /* 添加一些外边距 */
    }

    th, td {
        padding: 8px; /* 添加内填充 */
        text-align: left; /* 文本对齐 */
        border-bottom: 1px solid #ddd; /* 底部边框线 */
    }

    th {
        background-color: #f2f2f2; /* 标题背景色 */
        color: #333; /* 标题文字颜色 */
    }

    tr:hover {
        background-color: #f5f5f5; /* 悬停时行的背景色 */
    }
</style>

{% endblock stylesheets %}

{% block content %}

    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Hansen Solubility Parameter Experiment History</h4>
            </div>

            <div class="row">
                <div class="col-md-12">

                    <div class="card">

                        <div class="card-header">
                            <div class="card-title">History</div>
                        </div>

                        <div class="card-body">
                            <div id="infoContainer">
                                <table id="infoTable" border="1">
                                    <tr>
                                        <th>id</th>
                                        <th>time</th>
                                        <th>sample_num</th>
                                        <th>ongoing</th>
                                        <th>comments</th>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">View Experiment Images</div>
                        </div>

                        <div class="card-body">
                            <select id="groupSelect" onchange="loadImages()" style="width: 400px; height: 40px;">
                                <option value="">Select Hansen experiment history</option>
                            </select>
                        </div>
                    </div>

                    <div class="card">
                        <div id="imagesContainer"></div>
                    </div>

                </div>
            </div>

        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/3.0.0/fetch.min.js"></script>

            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    fetch('/hansen_image_id')
                        .then(response => response.json())
                        .then(groups => {
                            const select = document.getElementById('groupSelect');
                            groups.forEach(group => {
                                const option = document.createElement('option');
                                option.value = group;
                                option.textContent = group;
                                select.appendChild(option);
                            });
                        });
                });

                function loadImages() {
                    const group = document.getElementById('groupSelect').value;
                    const container = document.getElementById('imagesContainer');
                    container.innerHTML = '';  // 清空之前的图像

                    if (group) {
                        fetch(`/hansen_images/${group}`)
                            .then(response => response.json())
                            .then(images => {
                                images.forEach(image => {
                                    const img = new Image();
                                    img.src = 'data:image/png;base64,' + image.image;

                                    const card = document.createElement('div');
                                    card.className = 'card';
                                    card.appendChild(img);
                                    container.appendChild(card);
                                });
                            });
                    }
                }

                function loadHistoryData(){

                    fetch('/hansen_history') // 确保这个URL与你的Flask路由匹配
                        .then(response => response.json())
                        .then(data => {
                            const table = document.getElementById('infoTable');
                            data.forEach(hansen_data => {
                                const row = table.insertRow();
                                const id = row.insertCell(0);
                                const time = row.insertCell(1);
                                const sample_number = row.insertCell(2);
                                const ongoing = row.insertCell(3);
                                const comments = row.insertCell(4);

                                id.innerHTML = hansen_data.id;
                                time.innerHTML = hansen_data.time;
                                sample_number.innerHTML = hansen_data.sample_number;
                                ongoing.innerHTML = hansen_data.ongoing;
                                comments.innerHTML = hansen_data.comments;
                            });
                        })
                        .catch(error => console.error('Error:', error));
                }

                window.onload = loadHistoryData();
            </script>

{% endblock javascripts %}
