{% extends "layouts/base.html" %}

{% block title %}Solubility History{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Solubility Experiment Hisotry</h4>
            </div>

            <div class="row">
                <div class="col-md-12">

                    <div class="card">
                        <select id="groupSelect" onchange="loadImages()" style="width: 400px; height: 40px;">
                            <option value="">Select Particle experiment history</option>
                        </select>
                    </div>

                    <div class="card">
                        <div id="infoContainer"></div>
                    </div>

                    <div class="card">
                        <div id="imagesContainer"></div>
                    </div>

                </div>
            </div>

        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/3.0.0/fetch.min.js"></script>

            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    fetch('/solubility_image_id')
                        .then(response => response.json())
                        .then(groups => {
                            const select = document.getElementById('groupSelect');
                            groups.forEach(group => {
                                const option = document.createElement('option');
                                option.value = group;
                                option.textContent = group;
                                select.appendChild(option);
                            });
                        });
                });

                function loadImages() {
                    const group = document.getElementById('groupSelect').value;
                    const container = document.getElementById('imagesContainer');
                    container.innerHTML = '';  // 清空之前的图像

                    if (group) {
                        fetch(`/solubility_images/${group}`)
                            .then(response => response.json())
                            .then(images => {
                                images.forEach(image => {
                                    const img = new Image();
                                    img.src = 'data:image/png;base64,' + image.image;

                                    const card = document.createElement('div');
                                    card.className = 'card';
                                    card.appendChild(img);
                                    container.appendChild(card);
                                });
                            });
                    }
                }

                function loadHistoryData(){

                    fetch('/solubility_history') // 确保这个URL与你的Flask路由匹配
                        .then(response => response.json())
                        .then(data => {
                            const table = document.getElementById('infoTable');
                            data.forEach(solubility_data => {
                                const row = table.insertRow();
                                const id = row.insertCell(0);
                                const time = row.insertCell(1);
                                const sample_number = row.insertCell(2);
                                const ongoing = row.insertCell(3);
                                const comments = row.insertCell(4);

                                id.innerHTML = solubility_data.id;
                                time.innerHTML = solubility_data.time;
                                sample_number.innerHTML = solubility_data.sample_number;
                                ongoing.innerHTML = solubility_data.ongoing;
                                comments.innerHTML = solubility_data.comments;
                            });
                        })
                        .catch(error => console.error('Error:', error));
                }

                window.onload = loadHistoryData();
            </script>

{% endblock javascripts %}
