{% extends "layouts/base.html" %}

{% block title %}Solubility{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<style xmlns="http://www.w3.org/1999/html">
    table {
        width: 100%;
        border-collapse: collapse; /* 移除双边框 */
        margin: 20px 0; /* 添加一些外边距 */
    }

    th, td {
        width: 25%;
        padding: 8px; /* 添加内填充 */
        text-align: left; /* 文本对齐 */
        border-bottom: 1px solid #ddd; /* 底部边框线 */
    }

    th {
        background-color: #f2f2f2; /* 标题背景色 */
        color: #333; /* 标题文字颜色 */
    }

    tr:hover {
        background-color: #f5f5f5; /* 悬停时行的背景色 */
    }

    tbody {
      margin: 0 0;
      padding: 0 0;
    }

  .seatContainer {
    display: flex;
    flex-wrap: wrap;
    width: 230px; /* 根据座位大小和间距调整容器宽度 */
  }

  .seat {
    width: 20px;
    height: 20px;
    background-color: #ccc;
    margin: 3px;
    display: inline-block;
    cursor: pointer;
    position: relative;
  }

  .seat.selected {
    background-color: #0f0;
  }

  .seat.unavail {
    background-color: #f00;
  }

  .seat.margin {
    background-color: #333333;
  }

  .seat span {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 10px;
    color: black;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .selected span {
    display: flex;
  }


  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-2px); }
    50% { transform: translateX(2px); }
    75% { transform: translateX(-2px); }
    100% { transform: translateX(0); }
  }

  .seat.shake {
    animation: shake 0.5s; /* 动画名称，持续时间 */
    animation-iteration-count: 1; /* 动画播放次数 */
  }
</style>


{% endblock stylesheets %}

{% block content %}

    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Solubility Experiment Form</h4>
            </div>
            <div class="row">
                <div class="col-md-12">

                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Ongoing Experiment</div>
                        </div>

                        <div class="card-body">
                            <div id="infoContainer">
                                <table id="infoTable" border="1">
                                    <tr>
                                        <th>id</th>
                                        <th>time</th>
                                        <th>sample_num</th>
                                        <th>ongoing</th>
                                        <th>comments</th>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>

                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Solubility Experiment Form Recipe</div>
                        </div>
                        <div class="card-body">
                            <div class="row">

                                <div class="col-md-4 col-lg-4">
                                    <div class="form-group">
										<label for="sampleNum">Sample Number</label>
										<input type="number" class="form-control" id="sampleNum" placeholder="Enter Sample Number" step="1">
										<small id="sampleNumHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
									</div>
                                    <button onclick="addInputFields()" class="btn btn-primary">Submit Sample Number</button>
                                    <br><br>
                                    <button id="submitForm" onclick="submitForm()" style="display: none;" class="btn btn-primary">Submit Form</button>
                                    <div id="errorMessage" style="color: red; display: none;">Empty input not allowed!</div>
                                    <div id="successMessage" style="color: green; display: none;">Submit succeed!</div>
                                </div>

                                <div class="col-md-4 col-lg-4">
                                    <div id="sampleNameContainer"></div>
                                </div>

                                 <div class="col-md-4 col-lg-4">
                                     <label for="rackSelector">Select Rack:</label>
                                     <select id="rackSelector" onchange="updateInputField(this.value)">
                                         <option value="0">Rack 1</option>
                                         <option value="1">Rack 2</option>
                                         <option value="2">Rack 3</option>
                                         <option value="3">Rack 4</option>
                                     </select>

                                     <br>

                                     <label>Select Position</label>
                                     <div id="seatContainer"></div>
                                     <div id="errorMessageUnavail" style="color: red; display: none;">This position is not available!</div>
                                     <div id="errorMessageSelect" style="color: red; display: none;">All position selected!</div>
                                     <div id="errorMessageBack" style="color: red; display: none;">Please unselect the latest one first!</div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    const rackNum = 4;

    const rows = 5;
    const cols = 16;

    let selectedRack = 0;

    let selectedRows = [];
    let selectedCols = [];
    let notAvailRows = [];
    let notAvailCols = [];
    let sampleNameList = [];
    let shakeList = [];
    let globalClickCount = [];  // 全局点击次数，用于分配座位编号
    let numSelect = [];

    for (let i = 0; i < rackNum; i++) {
        selectedRows.push([]);
        selectedCols.push([]);
        notAvailRows.push([]);
        notAvailCols.push([]);
        sampleNameList.push([]);
        shakeList.push([]);
        globalClickCount.push(0);
        numSelect.push(0);
    }

    function updateRack(i) {
        fetch(`/rack_avail/${i}`)
            .then(response => response.json())
            .then(data => {
            data.forEach(rack_data => {
                notAvailRows[i].push(rack_data.row);
                notAvailCols[i].push(rack_data.col);
            });
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }

    for (let i = 0; i < rackNum; i++){
        updateRack(i);
    }
    console.log(notAvailRows);

    function addInputFields() {
        var number = document.getElementById('sampleNum').value;
        var nameContainer = document.getElementById('sampleNameContainer');
        nameContainer.innerHTML = ''; // Clear previous inputs
        var errorMessage = document.getElementById('errorMessage');

        for (let i = 0; i < numSelect.length; i++) {
            numSelect[i] = number;
        }

        for (let i = 0; i < rackNum; i++) {
            shakeList[i] = [];
            for (let j = 0; j < number; j++) {
                shakeList[i].push(0);
            }
        }

        if (number.trim() === '' || !Number.isInteger(parseFloat(number))) {
            errorMessage.style.display = 'block';
        } else {
            errorMessage.style.display = 'none';
            for (let i = 0; i < number; i++) {
                const input = document.createElement('input');
                input.id = 'sampleName' + (i+1);
                input.type = 'text';
                input.className = 'form-control mb-2'; // mb-2 for margin bottom
                input.placeholder = `Sample name ` + (i+1);

                const checkbox = document.createElement('input');
                checkbox.id = 'shake' + (i + 1);
                checkbox.type = 'checkbox';
                checkbox.className = 'form-check-input ml-2';

                const label = document.createElement('label');
                label.textContent = 'Shake it up!';

                nameContainer.appendChild(checkbox);
                nameContainer.appendChild(label);
                nameContainer.appendChild(input);
            }

            document.getElementById('submitForm').style.display = 'block';
            generateSeat();
        }
    }

    function updateInputField(newSelectedRack) {
        var number = document.getElementById('sampleNum').value;

        for (let i = 0; i < number; i++) {
            // 保存当前输入信息
            var sampleName = document.getElementById('sampleName' + (i+1));
            var shake = document.getElementById('shake' + (i+1));

            if (sampleName.value.trim() === '') {
                sampleNameList[selectedRack][i] = null;
            } else {
                sampleNameList[selectedRack][i] = sampleName.value;
            }

            if (shake.checked) {
                shakeList[selectedRack][i] = 1;
            } else {
                shakeList[selectedRack][i] = 0;
            }

            // 载入之前输入信息
            if (sampleNameList[newSelectedRack].length == 0 || sampleNameList[newSelectedRack][i] == null) {
                sampleName.value = '';
            } else {
                sampleName.value = sampleNameList[newSelectedRack][i];
            }

            if (shakeList[newSelectedRack].length == 0 || shakeList[newSelectedRack][i] == 0) {
                shake.checked = false;
            } else {
                shake.checked = true;
            }

        }
        selectedRack = newSelectedRack;

        updateSeat();
    }

    function submitForm() {
        var number = document.getElementById('sampleNum').value;
        var data = {};
        var allFilled = true;
        data['sampleNum'] = number;
        data['sampleName'] = sampleNameList;
        data['selectedRows'] = selectedRows;
        data['selectedCols'] = selectedCols;
        data['shakeList'] = shakeList;

        for (let i = 0; i < number; i++) {
            //  保存当前输入信息 - 以防没有切换过
            var sampleName = document.getElementById('sampleName' + (i+1));
            var shake = document.getElementById('shake' + (i+1));

            if (sampleName.value.trim() === '') {
                sampleNameList[selectedRack][i] = null;
            } else {
                sampleNameList[selectedRack][i] = sampleName.value;
            }

            if (shake.checked) {
                shakeList[selectedRack][i] = 1;
            } else {
                shakeList[selectedRack][i] = 0;
            }
        }

        for (let j = 0; j < rackNum; j++) {

            for (let i = 0; i < number; i++) {

                var sampleName = document.getElementById('sampleName' + (i+1));
                var shake = document.getElementById('shake' + (i+1));

                if (sampleNameList[j].length < number || sampleNameList[j][i] == null ||sampleNameList[j][i].trim() === '') {
                    allFilled = false;
                }

                if (selectedRows[j].length < number) {
                    allFilled = false;
                }
            }
        }

        if (!allFilled) {
            document.getElementById('errorMessage').style.display = 'block';
            document.getElementById('successMessage').style.display = 'none';
        } else {
            document.getElementById('errorMessage').style.display = 'none';
            document.getElementById('successMessage').style.display = 'block';
            var jsonData = JSON.stringify(data);
            console.log(jsonData);

            fetch('/submit_solubility_task', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: jsonData
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
            })
            .catch((error) => {
                console.error('Error:', error);
            });

            setTimeout(function() {
                location.reload();
            }, 500);
        }
    }

    function loadHistoryData(){
        fetch('/solubility_history') // 确保这个URL与你的Flask路由匹配
            .then(response => response.json())
            .then(data => {
                const table = document.getElementById('infoTable');

                data.forEach(hansen_data => {
                    if (hansen_data.ongoing === 0) {
                        return;
                    }

                    const row = table.insertRow();
                    const id = row.insertCell(0);
                    const time = row.insertCell(1);
                    const sample_number = row.insertCell(2);
                    const ongoing = row.insertCell(3);
                    const comments = row.insertCell(4);

                    id.innerHTML = hansen_data.id;
                    time.innerHTML = hansen_data.time;
                    sample_number.innerHTML = hansen_data.sample_number;
                    ongoing.innerHTML = hansen_data.ongoing;
                    comments.innerHTML = hansen_data.comments;
                });
                const numberOfRows = table.rows.length;

                if (numberOfRows === 0) {
                    table.style.display = "none";
                } else {
                    table.style.display = "block";
                }
            })
            .catch(error => console.error('Error:', error));
    }

    window.onload = loadHistoryData();

    function updateSeat() {

        var number = document.getElementById('sampleNum').value;

        for (let i = 0; i < rows; i++) {
            for (let j = 0; j < cols; j++) {
                let seat = document.getElementById('seat_' + i + '_' + j);
                let span = seat.querySelector('span');
                span.textContent = '';

                seat.dataset.selected = false; // 初始化座位未被选中
                if (seat.classList.contains('selected')) {
                    seat.classList.remove('selected');
                }
            }
        }

        // 添加已经被选择过了的座位
        for (let i = 0; i < selectedRows[selectedRack].length; i++) {
            let seat = document.getElementById('seat_' + selectedRows[selectedRack][i] + '_' + selectedCols[selectedRack][i]);
            let span = seat.querySelector('span');

            if (seat) {
                seat.dataset.selected = "true";
                seat.classList.add('selected');
                span.textContent = i+1;
            } else {
                console.log('未找到该位置的座位元素');
            }
        }
    }

    function generateSeat() {
        var errorMessageSelect = document.getElementById('errorMessageSelect');
        var errorMessageBack = document.getElementById('errorMessageBack');
        var errorMessageUnavail = document.getElementById('errorMessageUnavail');

        const seatContainer = document.getElementById('seatContainer');

        var selectedSeat = {};

        for (let i = 0; i < rows; i++) {
            for (let j = 0; j < cols; j++) {
                const seat = document.createElement('div');
                seat.id = 'seat_' + i + '_' + j;
                seat.classList.add('seat');
                seat.dataset.row = i + 1;
                seat.dataset.col = j + 1;
                seat.dataset.selected = false; // 初始化座位未被选中
                seat.dataset.unavail = false;

                if (i % 2 === 1 || j % 2 === 1) {
                    seat.dataset.unavail = true;
                    seat.classList.add('margin');
                }

                for (let k = 0; k < notAvailCols[selectedRack].length; k++) {
                    if (notAvailRows[selectedRack][k] === i+1 && notAvailCols[selectedRack][k] === j+1) {
                        seat.dataset.unavail = true;
                        seat.classList.add('unavail');
                    }
                }

                const span = document.createElement('span');
                seat.appendChild(span);

                seat.addEventListener('click', function () {
                    if (this.dataset.unavail === "true") {
                        errorMessageUnavail.style.display = 'block';
                        errorMessageSelect.style.display = 'none';
                        errorMessageBack.style.display = 'none';
                    } else if (this.dataset.selected === "false" && numSelect[selectedRack] > 0) {
                        this.dataset.selected = "true";
                        globalClickCount[selectedRack] += 1; // 增加全局点击次数
                        this.classList.add('selected');
                        span.textContent = globalClickCount[selectedRack]; // 显示座位编号
                        numSelect[selectedRack]  -= 1;
                        console.log(`Seat selected: Row ${this.dataset.row}, Column ${this.dataset.col}, Seat number: ${globalClickCount[selectedRack]}`);
                        errorMessageUnavail.style.display = 'none';
                        errorMessageSelect.style.display = 'none';
                        errorMessageBack.style.display = 'none';
                        selectedRows[selectedRack].push(i);
                        selectedCols[selectedRack].push(j);
                    } else if (this.dataset.selected === "false" && numSelect[selectedRack]  === 0) {
                        errorMessageUnavail.style.display = 'none';
                        errorMessageSelect.style.display = 'block';
                        errorMessageBack.style.display = 'none';
                    } else if (i === selectedRows[selectedRack][selectedRows[selectedRack].length-1] && j === selectedCols[selectedRack][selectedCols[selectedRack].length-1]){
                        this.dataset.selected = "false";
                        globalClickCount[selectedRack] -= 1; // 增加全局点击次数
                        numSelect[selectedRack]  += 1;
                        this.classList.remove('selected');
                        span.textContent = ''; // 取消显示座位编号
                        selectedRows[selectedRack].pop();
                        selectedCols[selectedRack].pop();
                        errorMessageUnavail.style.display = 'none';
                        errorMessageSelect.style.display = 'none';
                        errorMessageBack.style.display = 'none';
                        // 这里不记录取消选中的操作，所以不打印日志
                    } else {
                        errorMessageUnavail.style.display = 'none';
                        errorMessageSelect.style.display = 'none';
                        errorMessageBack.style.display = 'block';
                    }

                    this.classList.remove('shake'); // 先移除类以确保动画可以再次触发
                    void this.offsetWidth; // 触发重绘以确保动画可以重新开始
                    this.classList.add('shake');

                });
                seat.addEventListener('animationend', function () {
                    this.classList.remove('shake');
                });
                seatContainer.appendChild(seat);
            }
            const breakElement = document.createElement('br');
            seatContainer.appendChild(breakElement);
        }
    }
</script>
{% endblock javascripts %}	
