{% extends "layouts/base.html" %}

{% block title %}Particle Size{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<style>
    table {
        width: 100%;
        border-collapse: collapse; /* 移除双边框 */
        margin: 20px 0; /* 添加一些外边距 */
    }

    th, td {
        padding: 8px; /* 添加内填充 */
        text-align: left; /* 文本对齐 */
        border-bottom: 1px solid #ddd; /* 底部边框线 */
    }

    th {
        background-color: #f2f2f2; /* 标题背景色 */
        color: #333; /* 标题文字颜色 */
    }

    tr:hover {
        background-color: #f5f5f5; /* 悬停时行的背景色 */
    }

    tbody {
      margin: 0 0;
      padding: 0 0;
    }
</style>

{% endblock stylesheets %}

{% block content %}

    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Particle Size Experiment Form</h4>
            </div>
            <div class="row">
                <div class="col-md-12">

                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Ongoing Experiment</div>
                        </div>
                        <div class="card-body">
                            <div id="infoContainer">
                                <table id="infoTable" border="1">
                                    <tr>
                                        <th>id</th>
                                        <th>time</th>
                                        <th>sample_num</th>
                                        <th>ongoing</th>
                                        <th>comments</th>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Particle Size Experiment Form Recipe</div>
                        </div>
                        <div class="card-body">
                            <div class="row">

                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group">
										<label for="sampleNum">Sample Number</label>
										<input type="number" class="form-control" id="sampleNum" placeholder="Enter Sample Number" step="1">
										<small id="sampleNumHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
									</div>
                                    <button onclick="addInputFields()" class="btn btn-primary">Submit Sample Number</button>
                                    <br><br>
                                    <button id="submitForm" onclick="submitForm()" style="display: none;" class="btn btn-primary">Submit Form</button>
                                    <div id="errorMessage" style="color: red; display: none;">Empty input not allowed!</div>
                                    <div id="successMessage" style="color: green; display: none;">Submit succeed!</div>
                                </div>
                                <div id="sampleNameContainer"></div>
                                <div id="samplePosContainer"></div>
                                <div id="concentrationContainer"></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    function addInputFields() {
        var number = document.getElementById('sampleNum').value;
        var nameContainer = document.getElementById('sampleNameContainer');
        var posContainer = document.getElementById('samplePosContainer');
        var concentrationContainer = document.getElementById('concentrationContainer');

        nameContainer.innerHTML = ''; // Clear previous inputs
        posContainer.innerHTML = '';
        concentrationContainer.innerHTML = '';

        var errorMessage = document.getElementById('errorMessage');

        if (number.trim() === '' || !Number.isInteger(parseFloat(number))) {
            errorMessage.style.display = 'block';
        } else {
            errorMessage.style.display = 'none';
            for (let i = 0; i < number; i++) {
                const input = document.createElement('input');
                input.id = 'sampleName'+(i+1);
                input.type = 'text';
                input.className = 'form-control mb-2'; // mb-2 for margin bottom
                input.placeholder = `Sample name `+(i+1);
                nameContainer.appendChild(input);
            }

            for (let i = 0; i < number; i++) {
                const input = document.createElement('input');
                input.id = 'samplePos'+(i+1);
                input.type = 'text';
                input.className = 'form-control mb-2'; // mb-2 for margin bottom
                input.placeholder = `Sample position `+(i+1);
                posContainer.appendChild(input);
            }

            for (let i = 0; i < number; i++) {
                const input = document.createElement('input');
                input.id = 'concentration'+(i+1);
                input.type = 'text';
                input.className = 'form-control mb-2'; // mb-2 for margin bottom
                input.placeholder = `Concentration `+(i+1);
                concentrationContainer.appendChild(input);
            }

            document.getElementById('submitForm').style.display = 'block';
        }
    }

    function submitForm() {
        var number = document.getElementById('sampleNum').value;
        var data = {};
        var allFilled = true;
        data['sampleNum'] = number;

        for (let i = 0; i < number; i++) {
            var sampleName = document.getElementById('sampleName'+(i+1));
            var samplePos = document.getElementById('samplePos'+(i+1));
            var concentration = document.getElementById('concentration'+(i+1));

            if (sampleName.value.trim() === '') {
                allFilled = false;
            } else {
                data['sampleName' + (i+1)] = sampleName.value;
            }
            if (samplePos.value.trim() === '') {
                allFilled = false;
            } else {
                data['samplePos' + (i+1)] = samplePos.value;
            }
            if (concentration.value.trim() === '') {
                allFilled = false;
            } else {
                data['concentration' + (i+1)] = concentration.value;
            }
        }

        if (!allFilled) {
            document.getElementById('errorMessage').style.display = 'block';
            document.getElementById('successMessage').style.display = 'none';
        } else {
            document.getElementById('errorMessage').style.display = 'none';
            document.getElementById('successMessage').style.display = 'block';
            var jsonData = JSON.stringify(data);
            console.log(jsonData);
        }
    }

    function loadHistoryData(){
        fetch('/particle_history') // 确保这个URL与你的Flask路由匹配
            .then(response => response.json())
            .then(data => {
                const table = document.getElementById('infoTable');
                const emptyMessage = document.getElementById('noOngoingMessage');

                data.forEach(hansen_data => {
                    if (hansen_data.ongoing === 0) {
                        return;
                    }

                    const row = table.insertRow();
                    const id = row.insertCell(0);
                    const time = row.insertCell(1);
                    const sample_number = row.insertCell(2);
                    const ongoing = row.insertCell(3);
                    const comments = row.insertCell(4);

                    id.innerHTML = hansen_data.id;
                    time.innerHTML = hansen_data.time;
                    sample_number.innerHTML = hansen_data.sample_number;
                    ongoing.innerHTML = hansen_data.ongoing;
                    comments.innerHTML = hansen_data.comments;
                });
                const numberOfRows = table.rows.length;

                if (numberOfRows === 0) {
                    emptyMessage.style.display = "block";
                    table.style.display = "none";
                } else {
                    emptyMessage.style.display = "none";
                    table.style.display = "block";
                }
            })
            .catch(error => console.error('Error:', error));
    }

    window.onload = loadHistoryData();
</script>
{% endblock javascripts %}	
